
body {
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    margin-top:50px;
    background-color: #f3f3f3;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li {
    margin: 0;
    padding: 0;
}
nav {
    background: #b3e4af none repeat scroll 0 0;
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: #7a7a7a;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 1em 3em;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
nav ul li a:hover {
    color: #34b484;
}
.button {
    display: inline;
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 6px;
    z-index: 999;
}
.button a {
    text-decoration: none;
}
.btn-open::after {
    color: #333;
    content: "";
    font-family: "FontAwesome";
    transition: all 0.2s linear 0s;
}
.btn-open:hover::after {
    color: #34b484;
}
.btn-close::after {
    color: #fff;
    content: "";
    font-family: "FontAwesome";
    transition: all 0.2s linear 0s;
}
.btn-close:hover::after {
    color: #34b484;
}
.overlay {
    background: #333 none repeat scroll 0 0;
    display: none;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.wrap {
    color: #e9e9e9;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}
.wrap ul.wrap-nav {
    border-bottom: 1px solid #575757;
    padding: 150px 0 100px;
    text-transform: capitalize;
}
.wrap ul.wrap-nav li {
    display: inline-block;
    font-size: 20px;
    position: relative;
    vertical-align: top;
    width: 24%;
}
.wrap ul.wrap-nav li a {
    color: #34b484;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
    color: #f0f0f0;
}
.wrap ul.wrap-nav ul {
    padding: 20px 0;
}
.wrap ul.wrap-nav ul li {
    color: #e9e9e9;
    display: block;
    font-size: 13px;
    width: 100%;
}
.wrap ul.wrap-nav ul li a {
    color: #f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
    color: #34b484;
}
.social {
    font-size: 25px;
    padding: 20px;
}
.social p {
    font-size: 13px;
    line-height: 30px;
    margin: 0;
    padding: 20px 0 5px;
}
.social p a {
    color: #34b484;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.social-icon {
    background: #e9e9e9 none repeat scroll 0 0;
    color: #333;
    display: inline-block;
    height: 50px;
    margin: 0 20px;
    transition: all 0.2s linear 0s;
    width: 80px;
}
.social-icon:hover {
    background: #34b484 none repeat scroll 0 0;
    color: #f0f0f0;
}
.social-icon i {
    margin-top: 12px;
}
@media screen and (max-width: 48em) {
.wrap ul.wrap-nav > li {
    border-bottom: 1px solid #575757;
    padding: 20px 0;
    width: 100%;
}
.wrap ul.wrap-nav {
    padding: 30px 0 0;
}
nav ul {
    opacity: 0;
    visibility: hidden;
}
.social {
    color: #c1c1c1;
    font-size: 25px;
    padding: 15px 0;
}
.social-icon {
    background: #fff none repeat scroll 0 0;
    color: #333;
    display: block;
    height: 50px;
    margin: 5px 0;
    width: 100%;
}
}
.content {
    font-size: 20px;
    margin-top: 200px;
    text-align: center;
    width: 100%;
}
.me {
    height: 100%;
    width: 100%;
}
#myimg {
    left: 70px;
    padding-bottom: 35px;
    padding-top: 50px;
    position: relative;
}
.donut-container {
    border-radius: 75px;
    float: left;
    height: 150px;
    margin-right: 20px;
    width: 150px;
}
#myskill {
}
.progress {
    height: 25px;
    position: relative;
}
.progress > .progress-type {
    background-color: rgba(25, 25, 25, 0.2);
    color: rgb(255, 255, 255);
    font-weight: 800;
    left: 0;
    padding: 3px 30px 2px 10px;
    position: absolute;
}
.progress > .progress-completed {
    font-weight: 800;
    padding: 3px 10px 2px;
    position: absolute;
    right: 0;
	color: #777777;
}
.box > .icon {
    position: relative;
    text-align: center;
}
.box > .icon > .image {
    background: #63b76c none repeat scroll 0 0;
    border: 8px solid white;
    border-radius: 50%;
    height: 88px;
    line-height: 88px;
    margin: auto;
    position: relative;
    vertical-align: middle;
    width: 88px;
    z-index: 2;
}
.box > .icon:hover > .image {
    background: #333 none repeat scroll 0 0;
}
.box > .icon > .image > i {
    color: #fff !important;
    font-size: 36px !important;
}
.box > .icon:hover > .image > i {
    color: white !important;
}
.box > .icon > .info {
    background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    margin-top: -24px;
    padding: 15px 0 10px;
}
.box > .icon:hover > .info {
    background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
    border-color: #e0e0e0;
    color: white;
}
.box > .icon > .info > h3.title {
    color: #222;
    font-family: "Roboto",sans-serif !important;
    font-size: 16px;
    font-weight: 500;
}
.box > .icon > .info > p {
    color: #666;
    font-family: "Roboto",sans-serif !important;
    font-size: 13px;
    line-height: 1.5em;
    margin: 20px;
}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
    color: #222;
}
.box > .icon > .info > .more a {
    color: #222;
    font-family: "Roboto",sans-serif !important;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    text-transform: uppercase;
}
.box > .icon:hover > .info > .more > a {
    background-color: #63b76c;
    color: #fff;
    padding: 6px 8px;
}
.box .space {
    height: 30px;
}

.scroll1 { 
    padding-top: 28px;
}

.scroll2 {
    padding-top: 40px;
}

.size {
    background-color: #9AD175;
    min-width: 1024px;
    min-height: 768px;
}
